html,
body {
    margin: 0;
    height: 100%;
}

nav {
    font-family: 'Exo 2', sans-serif;
}

#monaco {
    height: calc(100vh - 56px)
}

#preview_wrap {
    position: fixed;
    padding-top: 20px;
    background-color: #565e5e;
    z-index: 1;
    visibility: visible;
    top: 100px;
    right: 50px;
    width: 300px;
    height: 500px;
}

#preview {
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}